﻿<%@ Master Language="C#" MasterPageFile="~/pages/MasterLink.Master" AutoEventWireup="true" CodeBehind="MasterWeb.master.cs" Inherits="BestInventory.pages.MasterWeb" %>


<asp:Content ID="Content1" ContentPlaceHolderID="title" runat="server">
    <asp:ContentPlaceHolder ID="nestedTitle" runat="server"></asp:ContentPlaceHolder>
</asp:Content>


<asp:Content ID="Content3" ContentPlaceHolderID="body" runat="server">

    <form id="frmNav" runat="server">

        <div id="wrapper">
            <%--Navigation--%>
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <asp:HyperLink ID="LogoBrandLink" runat="server" class="navbar-brand" NavigateUrl="~/pages/index.aspx">BestInventory</asp:HyperLink>
                </div>
                <%-- /.navbar-header --%>

                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <asp:Label ID="DisplayUserLbl" runat="server"></asp:Label>
                    </li>

                    <%-- /.dropdown --%>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <asp:HyperLink ID="UserProfileLink" runat="server" NavigateUrl="#"><i class="fa fa-user fa-fw"></i> User Profile</asp:HyperLink>
                            </li>
                            <li>
                                <asp:HyperLink ID="SettingsLink" runat="server" NavigateUrl="#"><i class="fa fa-gear fa-fw"></i> Settings</asp:HyperLink>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <asp:LinkButton ID="LogoutLink" runat="server" OnClick="LogoutLink_Click"><i class="fa fa-sign-out fa-fw"></i> Logout</asp:LinkButton>
                            </li>
                        </ul>
                        <%-- /.dropdown-user --%>
                    </li>
                    <%-- /.dropdown --%>
                </ul>
                <%-- /.navbar-top-links --%>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <asp:TextBox id="SearchTxt" CssClass="form-control" runat="server" placeholder="Search Item..."></asp:TextBox>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <%-- /input-group --%>
                            </li>
                            <li>
                                <asp:HyperLink ID="DashboardLink" runat="server" NavigateUrl="~/pages/index.aspx"><i class="fa fa-dashboard fa-fw"></i> Dashboard</asp:HyperLink>
                            </li>
                            <li>
                                <asp:HyperLink ID="InventoryLink" runat="server" NavigateUrl="inventory.aspx"><i class="fa fa-cube fa-fw"></i> Inventory</asp:HyperLink>
                            </li>
                            <li>
                                <asp:HyperLink ID="AddInventoryLink" runat="server" NavigateUrl="~/pages/addInventory.aspx"><i class="fa fa-plus fa-fw"></i> Add Inventory</asp:HyperLink>
                            </li>
                            <li>
                                <asp:HyperLink ID="ReportsLink" runat="server" NavigateUrl="#"><i class="fa fa-files-o fa-fw"></i> Reports<span class="fa arrow"></span></asp:HyperLink>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <asp:HyperLink ID="StockReportLink" runat="server" NavigateUrl="#"><i class="fa fa-file fa-fw"></i> Stock Report</asp:HyperLink>
                                    </li>
                                    <li>
                                        <asp:HyperLink ID="SalesReportLink" runat="server" NavigateUrl="#"><i class="fa fa-file fa-fw"></i> Sales Report</asp:HyperLink>
                                    </li>
                                    <li>
                                        <asp:HyperLink ID="ReOrderReportLink" runat="server" NavigateUrl="#"><i class="fa fa-file fa-fw"></i> Re-Order Reoprt</asp:HyperLink>
                                    </li>
                                    <li>
                                        <asp:HyperLink ID="CustomReportLink" runat="server" NavigateUrl="#"><i class="fa fa-file fa-fw"></i> Custom Reoprt</asp:HyperLink>
                                    </li>
                                </ul>
                                <%--/.nav-second-level--%> 
                            </li>
                            <li>
                                <asp:HyperLink ID="SalesOrderLink" runat="server" NavigateUrl="~/pages/salesOrder.aspx"><i class="fa fa-shopping-cart fa-fw"></i> Sales Order</asp:HyperLink>
                            </li>
                        </ul>
                    </div>
                    <%--/.sidebar-collapse--%>
                </div>
                <%--/.navbar-static-side--%>
            </nav>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <asp:ContentPlaceHolder ID="Body1_Heading" runat="server"></asp:ContentPlaceHolder>
                            <%--Boddy Part 1 Heading--%>
                        </h1>
                    </div>
                    <%--/.col-lg-12--%>
                </div>
                <%--/.row--%>

                <asp:ContentPlaceHolder ID="Body2_Rest" runat="server"></asp:ContentPlaceHolder>
                <%--Boddy Part 1 Heading--%>
            </div>
            <%--/.page-wrapper--%>
        </div>
        <%--/#wrapper--%>
    </form>

</asp:Content>

