﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages/MasterWeb.master" AutoEventWireup="true" CodeBehind="salesOrder.aspx.cs" Inherits="BestInventory.pages.salesOrder" %>
<asp:Content ID="Content1" ContentPlaceHolderID="nestedTitle" runat="server">
    Sales Order
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Body1_Heading" runat="server">
    Sales Order
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Body2_Rest" runat="server">
</asp:Content>
