﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages/MasterLink.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="BestInventory.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="title" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
</asp:Content>
